Repository ballerina-platform/ballerina-www, pull requests merged in 2019-09, with the labels that each got.

#1518 Proofread the How to Structure Ballerina Code Page
  website/two-column-pages/docs/learn/how-to-structure-ballerina-code.md
Labels: Type/Docs

#1521 Add instructions to reload VS Code
  website/two-column-pages/docs/learn/tools-ides/vscode-plugin.md
Labels: Type/Docs

#1526 Add information on debugging stepover
  website/two-column-pages/docs/learn/tools-ides/intellij-plugin/using-intellij-plugin-features.md
  website/two-column-pages/docs/learn/tools-ides/vscode-plugin/run-and-debug.md
Labels: Type/Docs

#1539 Remove info about project level test directory in how to structure Ballerina guide
  website/two-column-pages/docs/learn/how-to-structure-ballerina-code.md
Labels: Type/Docs

#1535 Update streams reference guide
  website/two-column-pages/docs/learn/ballerina-streaming-reference.md
Labels: Content/Improvement

#1545 Fix `how to observe ballerina code` guide
  website/two-column-pages/docs/learn/how-to-observe-ballerina-code.md
  website/two-column-pages/docs/learn/images/grafana-ballerina-metrics-1.png
  website/two-column-pages/docs/learn/images/grafana-ballerina-metrics-2.png
  website/two-column-pages/docs/learn/images/grafana-ballerina-metrics-3.png
  website/two-column-pages/docs/learn/images/grafana-prometheus-datasource.png
  website/two-column-pages/docs/learn/images/grafana-sample-hello-world-service-stats.png
  website/two-column-pages/docs/learn/images/jaeger-sample-dashboard.png
  website/two-column-pages/docs/learn/images/jaeger-tracing-dashboard.png
  website/two-column-pages/docs/learn/images/zipkin-sample.png
Labels: Content/Improvement

#1548 Add protocol buffers to ballerina tool guide to tools-ides section
  website/two-column-pages/docs/learn.md
  website/two-column-pages/docs/learn/how-to-generate-code-for-protocol-buffers.md
Labels: Content/New

#1553 Update how-to-write-secure-ballerina-code learn material
  website/two-column-pages/docs/learn/how-to-write-secure-ballerina-code.md
Labels: Content/Improvement

#1534 Update taint section of how-to-write-secure-ballerina-code guide
  website/two-column-pages/docs/learn/how-to-write-secure-ballerina-code.md
Labels: Content, Type/Docs

#1559 Review the `spec.md` file
  website/two-column-pages/docs/specs.md
Labels: Type/Docs

#1580 Add table of content for secure-doc
  website/two-column-pages/docs/learn/how-to-write-secure-ballerina-code.md
Labels: Content/Improvement

#1626 Add formatting rule for type init in style guide
  website/two-column-pages/docs/learn/style-guide/README.md
  website/two-column-pages/docs/learn/style-guide/definitions.md
  website/two-column-pages/docs/learn/style-guide/expressions.md
  website/two-column-pages/docs/learn/style-guide/operators_keywords_and_types.md
Labels: Content/Improvement, Type/Improvement
